
        html {
            scroll-behavior: smooth;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #000000;
            color: #333;
        }

        header {
            background-image: linear-gradient(to right, white, black);
            padding: 0 1em;
            text-align: center;
            display: flex;
            justify-content: space-between;
        }

        .headlog {
            display: flex;
            justify-content: space-between;
            width: 26%;
        }

        header h2 {
            display: flex;
            align-items: flex-end;
            font-family: Broadway,Arial, Helvetica, sans-serif;
            color: gold;
            word-spacing: 5px;
        }

        header h2 span {
            background-image: linear-gradient(to right, red, cyan);
            background-clip: text;
            color: transparent;
            margin: 0 5px;
            border: 2px solid red;
            border-radius: 20px;
            padding: 0 5px;
        }

        header h1 {
            font-family: cursive, Arial, Helvetica, sans-serif;
            background-image: url(brandname.jpg);
            background-size: contain;
            background-clip: text;
            color: transparent;
        }

        header img {
            width: 80px;
            margin: auto 0;
        }

        nav {
            background-image: linear-gradient(to right, white, black);
            overflow: hidden;
            position: sticky;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        nav ul {
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5%;
            width: 95%;
        }

        nav a {
            display: block;
            color: black;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.5em;
            border-left: 5px double red;
            border-bottom: 5px solid red;
            transition: all 0.5s;
        }

        nav a:hover {
            background-color: #ddd;
            color: black;
            border-right: 5px double black;
            border-top: 5px solid black;
            border-left: none;
            border-bottom: none;
            transition: all 0.5s;
            border-radius: 0 0 0 30px;
        }

        #home {
            width: 80%;
            margin: 20px auto;
            padding: 10px 20px;
            border-radius: 30px;
            border-left: 5px solid red;
            border-bottom: 5px solid red;
            box-shadow: -3px 3px 5px red;
        }

        #home h2 {
            display: inline;
            color: gold;
            text-decoration: underline red;
            border-bottom: 2px solid gold;
        }

        #home p {
            background-image: linear-gradient(to right,red,blue,cyan);
            text-align: justify;
            background-clip: text;
            color: transparent;
        }







        #products {
            background-color: black;
            width: 95%;
            margin: 20px auto;
            padding: 70px 10px 10px 10px;
            color: white;
        }

        #products h2 {
            display: inline;
            font-size: 2.5em;
            background-image: linear-gradient(to right, red, blue);
            background-clip: text;
            color: transparent;
        }

        .product-highlights {
            background-color: black;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }

        .product-highlight {
            background-color: black;
            background-size: contain;
            width: 200px;
            height: 400px;
            margin: 10px;
            display: inline-block;
            border-radius: 20px;
            overflow: hidden;
        }

        .product-highlight h4 {
            margin: 0;
            padding: 5px;
            text-align: center;
            color: gold;
        }

        .product-highlight img {
            width: 200px;
            height: 70%;
            border-radius: 30px;
            margin: 10px auto;
            margin-top: 25px;
            transition: all 0.7s;
        }

        .product {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .product button {
            background-color: red;
            border-radius: 20px;
            width: 80%;
            height: 28px;
            margin: 25px auto 0 auto;
            font-weight: bold;
            font-family: cursive,Arial, Helvetica, sans-serif;
            transition: all 1s;
        }

        .product button:active {
            transform: scale(0.9);
        }

        .product button:hover {
            background-color: black;
            color: red;
            border: 2px inset red;
            transition: all 0.5s;
        }

        .product-highlight img:hover {
            transform: scale(1.2);
            transition: all 0.7s;
        }

        





        #reviews {
            background-color: black;
            margin:0 auto;
            width: 90%;
            padding: 70px 10px 10px 10px;
            
        }

        .customer-reviews {
            background-color: black;
            height: 400px;
            overflow: auto;
            color: white;
            padding: 15px;
        }

        .customer-reviews h3 {
            color: red;
        }

        .customer-reviews p {
            color: gold;
        }

        #reviews h2 {
            display: inline;
            font-size: 2.5em;
            background-image: linear-gradient(to right, red, blue);
            background-clip: text;
            color: transparent;
        }




        #contact {
            background-color: black;
            width: 50%;
            margin: 10px auto 5% auto;
            padding: 10px;
        }

        #contact h2 {
            display: inline;
            font-size: 2.5em;
            background-image: linear-gradient(to right, orange, hotpink);
            background-clip: text;
            color: transparent;
        }

        #contact p {
            color: gold;
        }

        form {
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }

        form div {
            width: 250px;
            display: flex;
            justify-content: space-between;
        }

        input, textarea {
            background-color: black;
            outline-color: red;
            border: none;
            border-bottom: 3px double green;
            border-left: 3px double green;
            color: red;
        }

        label {
            color: red;
            font-weight: bold;
            font-family: Broadway,Arial, Helvetica, sans-serif;
        }

        textarea {
            max-height: 50px;
            max-width: 150px;
        }

        input[type="submit"] {
            margin: 0 auto;
            font-weight: bold;
            font-size: 110%;
            border: none;
            border: 3px solid gold;
            padding: 5px;
            border-radius: 15px;
        }

        input[type="submit"]:hover {
            background-color: red;
            color: black;
        }





        footer {
            background-color: #333;
            color: white;
            text-align: center;
            font-size: 50%;
            position: fixed;
            bottom: 0;
            width: 100%;
        }